@media (max-width:600px) {

    .laptop{
        display: none;
    }
    .width500{
        display: none;
    }

    .phone{
        display: flex;
    }

/* ====================================================================================================== */
/* ====================================================================================================== */



/* For Loader */

#loader{
    padding-top: 0px;
}

#loader .photo-loader h2{
    font-size: 10vw;
}





/* ======================================================================================================= */
/* ======================================================================================================= */


.menu-box-phone{
    width: 0%;
    height: 100vh;
    background-color: rgb(79, 79, 79);
    position: fixed;
    z-index: 99999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    
}
.menu-box-phone .cross-icon{
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-box-phone .cross-icon img{
    height: 80px;
    width: 150px;  
    filter: invert(100%);
}
.menu-box-phone .cross-icon i{
    color: white;
    font-size: 15vw;
}
.menu-box-phone ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.menu-box-phone ul li{
    padding: 5px 10px;
}
.menu-box-phone ul li:hover{
    background-color: rgba(152, 152, 152, 0.395);
}

.menu-box-phone a{
    text-decoration: none;
    color: white;
    font-size: 8vw;
}

/* ======================================================================================================= */
/* ================================================================================================= */

    .navbar{
        padding: 5px 20px;
        border-bottom: none;
    }
    .navbar .menu-icon{
        display:block;
        color: black;
        font-size: 9vw;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%,-50%);
    }
    .navbar.sticky{
        padding: 5px 20px;
    }
    .navbar .logo a img{
        filter: invert(0%);
    }
    .navbar .logo a p{
        color: rgb(0, 0, 0);
    }
    
/* ====================================================================================================== */
/* ====================================================================================================== */

    /* Home Part */
    #home{
        height: 50vh;
    }
    #home .swiper {
        margin-top: 20%;        
    }
    
    .home-overlay-2{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 0, 0, 0);
        z-index: 9;
        flex-direction: column;
        gap: 10px;
    }
    .home-overlay-2 h1{
        color: white;
        font-size: 9vw;
        text-align: center;
    }
    .home-overlay-2 p{
        color: white;
        font-size: 2.8vw;
        width: 80%;
        text-align: center;
        opacity: .8;
    }

/* ====================================================================================================== */
/* ====================================================================================================== */


    /* About Part */
    #about{
        padding-left: 0px;
    }
    
    
    #about .info{
        height: 100%;
        border-radius: 0px;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    #about .left{
        width: 100%;
        height: 40%;
        align-items: flex-end;
    }
    #about .left video{
        width: 98%;

    }
    .about-phone{
        width: 100%;
        height: 60%;
        /* background-color: springgreen; */
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 25px 20px 0;
        display: flex;
        justify-content: center;
    }
    .about-phone h1{
        margin-top: -10px;
        font-size: 8vw;
    }
    .about-phone .phone-para{
        flex-direction: column;
    }
    .about-phone p{
        font-size: 4.3vw;
        text-align: justify;
        margin-bottom: 10px;
    }


/* ====================================================================================================== */
/* ====================================================================================================== */


    /* New Arrival Products */
    .newarrival-text-phone{
        width: 100%;
        height: 25vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .newarrival-text-phone h1{
        font-size: 8vw;
    }
    .nilu-box  .swiper {
        height: 75vh;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      
      .nilu-box .swiper-slide {
          width: 330px;
          height: 400px;
        }
        
      .nilu-box .swiper-slide p {
        font-size: 3.5vw;
    }


/* ====================================================================================================== */
/* ====================================================================================================== */


    /* For P4 Part  */
    #p4{
        height: 40vh;
    }
    #p4 .overlay{
        padding-left: 10px;
    }
    #p4 .overlay .offer{
        width: 250px;
        height: 200px;
        padding: 30px 0;
        gap: 20px;
    }
    #p4 .overlay .offer h1{
        font-size: 6vw;
    }
    #p4 .overlay .offer h4{
        font-size: 3.5vw;
    }


/* ====================================================================================================== */
/* ====================================================================================================== */


    /* for data1 part */
    #data1 .text{
        width: 100%;
        box-shadow: 3px 3px 20px #d8d8d8    ;
        padding: 10px 15px;
        gap: 10px;
        margin-bottom: 10px;
    }
    #data1 .text h1{
        font-size: 7vw;
        margin-bottom: 10px;
    }
    #data1 .text h3{
        font-size: 4vw;
        width: 100%;
    }
    


/* ====================================================================================================== */
/* ====================================================================================================== */

    /* For Products Part */
    .top-part h2{
        font-size: 9vw;
        text-align: center;
        gap: 10px;
    }
    .top-part p{
        font-size: 3vw;
        width: 80%;
        text-align: center;
        opacity: .8;
    }
    
    .bottom-part{
        display: block;
    }
    .product_filters-phone{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 10px 5px;
        background-color: #ffffff8a;
    }

    .product_filters-phone .product_item{
        width: fit-content;
        cursor: pointer;
        color: rgb(0, 0, 0);
        padding: 4px 5px;
        font-weight: 500;
        border-radius: 8px;
        font-size: 3.6vw;
        text-transform: capitalize;
        opacity: .9;
        text-align: center;
    }
    .product_filters-phone h2{
        font-size: 5vw;
    }
    
    
    #products #container{
        width: 100%;
    }
    
    #photo-box{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        overflow-x: auto;
        height: 55vh;
    }
    .product_card{
        width: 70%;
        height: 50vh;
        flex-shrink: 0;
        overflow: hidden;
    }
    .product-photo{
        height: 70%;
    }

    .product-name{
        height: 30%;
    }
    .product-name h3{
        font-size: 5vw;
    }
    .product-buy-btn span{
        font-size: 4vw;
    }

/* ============================================================================================================================= */
/* ============================================================================================================================= */

/*  For Team  */
#team{
    height: 70vh;
    flex-direction: column;
}
#team .top{
    height: 20vh;
    gap: 0px;
    flex-direction: column;
    padding-top: 0px;
}
#team .top .left{
    width: 100%;
    height: 40%;
    justify-content: center;
    padding: 0 ;
}
#team .top .left h1 span{
    font-size: 10vw;
}
#team .top .right{
    width: 100%;
    height: 60%;
    padding: 0 ;
    justify-content: center;
}

#team .top h3{
    width: 90%;
    text-align: center;
    font-size: 3vw;
    letter-spacing: 1px;
}
#team .bottom{
    height: 50vh;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 0 10px;
}
/* custom scroll bar */
#team .bottom::-webkit-scrollbar {
    display: none;
}

.profile{
    width: 60%;
    height: 40vh;
    flex-shrink: 0;
    overflow: hidden;
}
.profile .overlay{
    height: 28%;
}

#nilendra{
    background-color: rgba(127, 213, 202, 0.603);
}
#muskan{
    background-color: rgb(252, 188, 188);
}
#naveen{
    background-color: rgba(179, 223, 252, 0.514);
}
#shweta{
    background-color: rgb(228, 252, 179);
}
#team .name{
    font-size: 5.5vw;
}
#team .profession{
    font-size: 3.5vw;
}
#team .social-link{
    margin-top: 3px;
}
#team .social-link i{
    font-size: 4vw;
}



/* ============================================================================================================================= */
/* ============================================================================================================================= */

#contact .top{
    height: 90%;
    padding-top: 0;
}

#contact .contact-box{
    height: 80%;
    background-color: rgb(243, 243, 243);
    flex-direction: column;
    justify-content: flex-start;
}
.address{
    width: 100%;
    height: 30%;
    padding: 0px 10px;
    border: none;
}
#contact h1{
    font-size: 7vw;
}
.address .data{
    padding: 10px 30px;
}
.address h3{
    font-size: 3vw;
}
.address p{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 4vw;
}
.top-categories{
    width: 100%;
    height: 30%;
    padding: 3px 30px;
    text-align: right;
    border: none;
}
.top-categories .link{
    align-items: flex-end;
    gap: 5px;
    padding: 10px 30px;
}
.top-categories .link a{
    font-size: 4vw;
}

.feedback{
    width: 100%;
    height: 40%;
    padding: 0 20px;
    border: none;
}

.feedback .input h4:nth-child(2){
    display: none;
}
.feedback .input{
    margin-top: 0px;
    padding: 10px 20px;
    gap: 10px;
}
.feedback .sendbtn{
    padding: 0px 40px 0 0 ;    
}
.feedback #send{
    padding: 5px 15px;
    font-size: 2.8vw;
}

.subscribe{
    height: 20%;
}
.subscribe .text{
    height: 100%;
}
.subscribe .text h3{
    width: 50%;
    height: 100%;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.subscribe .text .sub{
    width: 70%;
    height: 100%;
}
.subscribe .text .sub input:nth-child(1){
    padding: 5px 8px;
    width: 70%;
}
.subscribe .text .sub input:nth-child(2){
    font-size: 2.5vw;
    padding: 8px 12px;
    width: 30%;
}

#contact .bottom{
    height: 10%;
    flex-direction: column;
}
#contact .bottom .text h1{
    font-size: 6vw;
}


/* ================================================================================================== */
/* ================================================================================================== */



}