@font-face {
    font-family: rose;
    src: url(../fonts/RoosStRegisDisplay-Regular.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* user-select: none; */
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    /* background-color: #F7D8D1; */
    font-family: rose;
    /* color: white; */
    scroll-behavior: smooth;
}
.phone{
    display: none;
}

/* Color Mode  */
:root{
    --bg-color:#f0f0f0;
    --bg-box-color:tomato;
    --text-color:#000;
    --a-text-color:#f1f1f1;
    --a-box-color:#eeeeef;
}
body.dark{
    --bg-color:tomato;
    --bg-box-color:#eaeaea;
    --text-color:#e8e8e8;
    --a-text-color:#000;
    --a-box-color:tomato;
}


/* ====================================================================================================== */

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 50px;
}


/* ======================================================================================================= */
/* ================================================================================================= */

/* For Loader */
#loader{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99999;
    overflow: hidden;
    flex-direction: column;
    gap: 50px;
    padding-top: 150px;
}
#loader .photo-loader{
    flex-direction: column;
}
#loader .photo-loader h2{
    color: white;
    font-size: 1.5vw;
}
#loader .photo-loader img{
    width: 200px;
    filter: invert(100%);
}

#loader .text{
    padding: 0 20px;
    /* background-color: royalblue; */
    gap: 20px;
}
#loader .text .box{
    height: 60px;
    width: fit-content;
    overflow: hidden;
    /* background-color: yellow; */
}
#loader .text .box:nth-child(1){
    text-align: right;
    padding-right: 5px;
}
#loader .text .box:nth-child(2){
    text-align: center;
    padding: 0 2px;
}
#loader .text .box:nth-child(3){
    padding-left: 5px;
    text-align: left;
}

#loader .text h1{
    text-transform: uppercase;
    font-family: rose;
    font-size: 4vw;
    line-height: 1;
    color: whitesmoke;
}



/* ======================================================================================================= */
/* ================================================================================================= */


/* Scroll Up */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #000;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn a{
    font-size: 30px;
    color:white;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* ===================================================================================================== */

/* Navbar style */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 50px;
    transition: all 0.3s ease;
    background-color: #ffffff3e;
    backdrop-filter: blur(30px);
    border-bottom: .1px solid rgb(199, 199, 199);
}

.navbar.sticky{
    padding: 0px 40px;
    background-color: #fff;
    color: black;
}


.navbar .max-width{
    justify-content: space-between;
}
.navbar .logo{
    margin-left: -50px;
    padding: 5px 0;
    width: 150px;
    flex-direction: column;
    gap: 0;
}

.navbar .logo a{
    color:#000 ;
    font-size: 35                                                                                                                                                                                                                           px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.navbar .logo a img{
    filter: invert(100%);
}
.navbar .logo a p{
    color: white;
}
.navbar.sticky .logo a img{
    filter: invert(0%);
}
.navbar.sticky .logo a p{
    color:#000;
}
.navbar .logo a span{
    color:black;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-family: gilroy;
}
.navbar .menu li a{
    display: block;
    font-size: 13px;
    font-weight: 900;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navbar.sticky .nav_link{
    color: #000;
    text-transform: uppercase;
}
.navbar.sticky .nav_link.active-link{
    color: tomato;
}
.nav_link{
    color:#fefefe;
    position: relative;
    text-transform: uppercase;
}
.navbar.sticky .nav_link:hover{
    color: tomato;
}
.nav_link.active-link{
    color: tomato;
}
.nav_link.active-link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: tomato;
    /* border-radius: 50%; */
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
}


.cart{
    padding: 3px 5px;
    position: relative;
}
.cart span{
    font-size: 1.1vw;
    background-color: tomato;
    padding: 5px 10px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    color: white;
}


/* ================================================================================ */
/* ================================================================================ */

#signup{
    width: 100%;
    height: 100%;
    background-color: rgba(2, 1, 1, 0.85);
    backdrop-filter: blur(100%);
    position: fixed;
    top: 0;
    scale: 0;
    overflow: hidden;
    z-index: 999999999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#signup i{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3vw;
    background-color: rgb(253, 171, 156);
    border-radius: 50%;
    font-weight: 100;
}
.signup-form{
    width: 30%;
    height: 70%;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
}
.signup-form h1{
    text-transform: uppercase;
}
.signup-input-box{
    /* background-color: springgreen; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.signup-input-box label{
    font-size: 1.7vw;
    font-weight: 100;
    opacity: .8;
}
.signup-input-box input{
    border-radius: 5px;
    padding: 7px 10px;
}




/* ================================================================================ */
/* ================================================================================ */


/* Section Part */
.section{
    width: 100%;
    height: 100vh;
    background-color: #e9e9e9;
}


/* Global change */
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h2{
    font-size: 2vw;
}
p{
    font-size: 1.2vw;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #cdc8c8;
    color: ghostwhite;
}
   
button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}
   
button:hover span {
    color: black;
}
   
button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
   
button::before {
    content: "";
    background: #464646;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
button:hover::before {
    transform: translate3d(100%, 0, 0);
}


.split span, .split2 span {
    display: inline-block;
    margin-left: 10px;
}
   
/* =========================================================== */
#main{
    padding-top: 7%;
    overflow: hidden;
}

#home{
    margin-top: -7%;
}
/* ============== Swiper slide ================ */
.home-slider{
    width: 100%;
    height: 100%;
}
#home .swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

#home .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    overflow: hidden;
}

#home .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}


#home .swiper-slide img {
    filter: brightness(40%);
}
.home-overlay{
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
    top: 0;
    /* background-color:rgba(220, 220, 220, 0.227); */
    box-shadow:inset 3px 3px 5px #dddddd56,inset -3px -3px 5px #dddddd56;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.home-overlay .heading{
    width: fit-content;
    height: fit-content;
    text-align: center;
    /* background-color: springgreen; */
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) ;
}
.home-overlay h1{
    font-size: 6.5vw;
    color: white;
    /* background-color: tomato; */
    padding: 5px 10px;
}

.home-overlay p{
    width: 50%;
    text-align: center;
    font-size: 1.8vw;
    color: rgba(255, 255, 255, 0.707);
}


/* ===================================================================================== */
/* ===================================================================================== */

#about{
    padding-left: 8px;
    overflow: hidden;
}


#about .info{
    width: 100%;
    height: 90%;
    border-radius: 10px;
}
#about .left{
    width: 50%;
    height: 100%;
    /* background-color: tomato; */
}
#about .left video{
    width: 100%;
    height: 100%;
}
#about .right{
    width: 50%;
    height: 100%;
    /* background-color: rgb(255, 197, 71); */
    padding: 40px ;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
#about .right h1{
    font-size: 3.3vw;
    position: relative;
}


#about .right-para{
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}
#about .right-para p{
    font-size: 1.2vw;
    font-weight: 100;
    text-align: justify;
    width: 90%;
    font-family: gilroy;
    /* background-color: tomato; */
}
#about .right-para p:nth-child(1) span:nth-child(1),#about .right-para p:nth-child(1) span:nth-child(9),#about .right-para p:nth-child(1) span:nth-child(10),#about .right-para p:nth-child(2) span:nth-child(6),#about .right-para p:nth-child(2) span:nth-child(7),#about .right-para p:nth-child(2) span:nth-child(8),#about .right-para p:nth-child(2) span:nth-child(9),#about .right-para p:nth-child(2) span:nth-child(11),#about .right-para p:nth-child(2) span:nth-child(12),#about .right-para p:nth-child(2) span:nth-child(13),#about .right-para p:nth-child(2) span:nth-child(14),#about .right-para p:nth-child(2) span:nth-child(15),#about .right-para p:nth-child(3) span:nth-child(3),#about .right-para p:nth-child(3) span:nth-child(11),#about .right-para p:nth-child(3) span:nth-child(12),#about .right-para p:nth-child(3) span:nth-child(13),#about .right-para p:nth-child(3) span:nth-child(14),#about .right-para p:nth-child(3) span:nth-child(15),#about .right-para p:nth-child(3) span:nth-child(16){
    font-weight: bold;
    color: tomato;
}

/* ====================================================================================================== */
/* ====================================================================================================== */

.nilu-box{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}
.nilu-box .text{
    width: 100%;
    height: 15vh;
    /* background-color: pink; */
    padding-top: 100px;
}
.nilu-box .text h1{
    font-size: 4.2vw;
    display: flex;
    gap: 20px;
    /* background-color: red; */
    overflow: hidden;
}
.nilu-box .text h1 span{
    display: inline-block;
}

  
.nilu-box  .swiper {
    height: 85%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    /* background-color: tomato; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  }
  
  .nilu-box .swiper-slide {
      width: 430px;
      height: 480px;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
      filter: blur(1px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: self-start;
      position: relative;
      overflow: hidden;
    }
    .nilu-box .swiper-slide .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotate(90deg);
        transform-origin: top left;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        scale: 2;
    }
    .nilu-box .swiper-slide:hover .overlay{
        transform: rotate(0deg);
        
    }
    
    .nilu-box  .swiper-slide-active {
        filter: blur(0px);
    }
    
    .nilu-box  .swiper-slide span {
        text-transform: uppercase;
        color: #fff;
        padding: 7px 18px 7px 25px;
        display: inline-block;
        border-radius: 0 20px 20px 0px;
        letter-spacing: 2px;
        font-size: 0.8rem;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        z-index: 99;
  }
  
  .nilu-box .swiper-slide--one span {
    background: #62667f;
  }
  
  .nilu-box .swiper-slide--two span {
    background: #087ac4;
  }
  
  .nilu-box  .swiper-slide--three span {
    background: #b45205;
  }
  
  .nilu-box .swiper-slide--four span {
    background: #087ac4;
  }
  .nilu-box .swiper-slide--five span {
    background: #4ec9a8ab;
  }
  
  .nilu-box .swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
    
  }
  
  .nilu-box .swiper-slide p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
  }
  
  .nilu-box .swiper-slide svg {
    color: #fff;
    width: 22px;
    height: 22px;
    margin-right: 7px;
  }
  
  .nilu-box .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url(https://i.etsystatic.com/26470112/r/il/cce832/3118800815/il_794xN.3118800815_40kg.jpg)
        no-repeat 50% 50% / cover;
  }
  
  .nilu-box .swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url(https://www.aftcra.com/uploads/cache/products/b/9/b9855b6e2630103f471181abfa9aa1e518070697_350078_1015070_579x.jpg)
        no-repeat 50% 50% / cover;
  }
  
  .nilu-box .swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url(https://imagedelivery.net/0ObHXyjKhN5YJrtuYFSvjQ/i-335b55af-a5b0-4177-a048-da1a2f357b2f-leopardskin-jasper-necklace-with-copper-beads-handmade-in-devon-glintbeads/display)
        no-repeat 50% 50% / cover;
  }
  
  .nilu-box .swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url(https://i.etsystatic.com/22278565/r/il/121204/3784009251/il_794xN.3784009251_p70h.jpg)
        no-repeat 50% 50% / cover;
  }
  
  .nilu-box .swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url(https://imagedelivery.net/0ObHXyjKhN5YJrtuYFSvjQ/i-a2e9dadc-b0d8-456c-a4be-2c27eb3e524f-handmade-crochet-shopping-bag-rising-the-label/display)
        no-repeat 50% 50% / cover;
  }
  
  .nilu-box .swiper-3d .swiper-slide-shadow-left,
  .nilu-box .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  




/* ====================================================================================================== */
/* ====================================================================================================== */


#p4{
    height: 60vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0030/9759/1872/files/Copy_of_B2B_PPT_1800x.png?v=1641282540);
    background-size: cover;
}
#p4 .overlay{
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */
    justify-content: flex-start;
    padding-left: 100px;
}
#p4 .overlay .offer{
    width: 400px;
    height: 300px;
    background-color: rgba(218, 218, 218, 0.3);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    color: white;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#p4 .overlay .offer h1{
    font-size: 2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#p4 .overlay .offer h4{
    font-size: 1.2vw;
    opacity: .7;
    font-weight: 100;
    font-family: gilroy;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


/* =============================================================================================================== */
/* =============================================================================================================== */
/* For data1 */
#data1{
    /* background-color: rgb(255, 47, 0); */
    flex-direction: column;
}
#data1 .heading{
    width: 100%;
    height: 15%;
    text-align: center;
    /* background-color: pink; */
}
#data1 h1{
    font-size: 4vw;
}
#data1 .artisans-photo{
    width: 100%;
    height: 80%;
    /* background-color: springgreen; */
}
#data1 .artisans-photo .swiper-wrapper{
    width: 100%;
    height: 90%;
}
#data1 .artisans-photo .swiper-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
}






/* ====================================================================================================== */
/* ====================================================================================================== */

/* Products cards */
#products{
    width: 100%;
    height: fit-content;
}
.top-part{
    width: 100%;
    height: 20vh;
    /* background-color: grey; */
    flex-direction: column;
    padding-bottom: 10px 50px;
}
.top-part h2{
    font-size: 3.3vw;
    display: flex;
    gap: 20px;
}
.top-part p{
    font-size: 1.3vw;
}
#products .top-part span{
    display: inline-block;
}

.bottom-part{
    width: 100%;
    /* min-height: 120vh; */
    position: relative;
    display: flex;

}
.product_filters{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20PX;
    padding: 50px 0 0 20px;
    /* border-right: 1px double rgb(71, 70, 70); */
    /* background-color: springgreen; */
}
.product_filters h2{
    font-size: 1.6vw;
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
}
.product_filters h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(255, 47, 0);
    position: absolute;
    bottom: -5px;
    left: 0;
}
.product_item{
    width: fit-content;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 4px 10px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.2vw;
    text-transform: uppercase;
    opacity: .7;
}

.product_item:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--bg-box-color);
    opacity: 1;
}
/* Active Item product */
.active-product{
    background-color: var(--bg-box-color);
    color: var(--a-box-color);
    opacity: 1;
}


#products #container{
    width: 85%;
    height: fit-content;
}

#photo-box{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 10px 70px 50px;
    margin-left: 0;
    margin-right: 0;
    /* background-color: tomato; */
}
#photo-box::-webkit-scrollbar{
    display: none;
}


.product_card{
    width: 30%;
    height: 400px;
    /* overflow: hidden; */
    border-radius: 8px;
    box-shadow: 3px 3px 5px whitesmoke, -3px -3px 5px whitesmoke;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s; */
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.product-photo{
    width: 100%;
    height: 75%;
    /* background-color: springgreen; */
    position: relative;
    overflow: hidden;
    padding: 5px;
}
.product_card:hover .photo-overlay{
    transform: rotate(0deg);
}

.photo-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-bottom: 10px;
    /* display: none; */
    background-color: #ffffff4a;
    transform: rotate(-90deg);
    transform-origin: top right;
    scale: 1.5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.product_card:hover .photo-overlay{
    display: flex;
    height: 100%;
}
.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}

  
.placement {
    position: fixed;
    top: 8%;
    left: 93%;
    transform: translate(-50%, -50%);
}


.product-name{
    width: 100%;
    height: 25%;
    /* background-color: rgb(229, 255, 0); */
    flex-direction: column;
    text-align: center;
    gap: 7px;
}
.product-name h3{
    font-size: 1.5vw;
}
.product-buy-btn{
    gap: 15px;
}

.product-buy-btn span{
    display: inline-block;
    font-size: 1vw;
}
.product-buy-btn .buybtn{
    padding: 15px 20px;
    background-color: rgb(48, 48, 48);
    color: white;
}
.product-buy-btn button::before {
    content: "";
    background: transparent;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   


/* ============================================================================================================================= */
/* ============================================================================================================================= */

/*  For Team  */
#team{
    flex-direction: column;
}
#team .top{
    width: 100%;
    height: 30%;
    /* background-color: springgreen; */
    gap: 30px;
    padding-top: 30px;
    /* color: white; */
}
#team .top .left{
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
    justify-content: flex-start;
    padding: 20px 0 0 20px ;
}
#team .top .left h1 span{
    margin-left: -1px;
    display: inline-block;
}
#team .top .left h1 span:nth-child(4){
    margin-left: 20px;
}
#team .top .right{
    width: 70%;
    height: 100%;
    /* background-color: yellow; */
    padding: 40px 20px 0 ;
    align-items: center;
    justify-content: flex-start;

    
}
#team .top h1{
    font-size: 6vw;
}
#team .top h3{
    width: 80%;
    opacity: .7;
    font-size: 1.4vw;
    font-family: gilroy;
    letter-spacing: 2px;
}
#team .top h3 span:hover{
    color: tomato;
}
#team .bottom{
    width: 100%;
    height: 70%;
    /* background-color: lightcyan; */
    gap: 30px;
}
.profile{
    width: 23%;
    height: 90%;
    border-radius: 10px;
    align-items: flex-end;
    background-color: #00000031;
    position: relative; 
    /* padding: 0 2px; */
}
.profile .overlay{
    width: 95%;
    height: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
    filter: blur(100%);
    flex-direction: column;
    position: absolute;
    /* color: #fff; */
    background-color: rgba(99, 99, 99, 0.3);
    backdrop-filter: blur(6px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
.profile:hover .overlay{
    background-color: rgba(99, 99, 99, .8);
}
.profile .overlay h4{
    font-weight: 600;
    opacity: .8;
}
/* #nilendra{
} */
/* #muskan{
    background-color: rgb(252, 188, 188);
}
#naveen{
    background-color: rgb(179, 223, 252);
}
#shweta{
    background-color: rgb(228, 252, 179);
} */
#team .name{
    font-size: 2.5vw;
    letter-spacing: 3px;
    /* color: whitesmoke; */
}
#team .profession{
    font-size: 1.5vw;
    font-weight: 300;
    /* color: whitesmoke; */
    opacity: .8;
}
#team .social-link{
    gap: 20px;
    text-decoration: none;
    margin-top: 10px;
}
#team .social-link i{
    font-size: 1.8vw;
    /* color: #000; */
}
#team .social-link .instagram{
    color: #F70472;
}
#team .social-link .linkedin{
    color: #0A66C2;
}
#team .social-link .github{
    color: #24292F;
}




/* ============================================================================================================================= */
/* ============================================================================================================================= */

/* For contacts */
#contact{
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1625844225439-aad9a72213ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    position: relative;
}
.contact-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.66);
    position: absolute;
    top: 0;
}
#contact .top{
    width: 100%;
    height: 85%;
    padding-top: 70px;
}


#contact .contact-box{
    width: 100%;
    height: 70%;
    /* background-color: rgb(232, 232, 232); */
}
.address{
    width: 30%;
    height: 100%;
    padding: 30px 10px;
    /* background-color: tomato; */
    border: .01px solid rgb(199, 199, 199,0.5);
}
#contact h1{
    font-size: 3vw;
}
.address .data{
    padding: 20px 30px;
}
.address h3{
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    gap: 10px;
    /* opacity: .8; */
    letter-spacing: 2px;
}
.address p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: gilroy;
    font-size: .9vw;
    opacity: .7;
    margin-left: 20px;
    cursor: pointer;
}
.top-categories{
    width: 30%;
    height: 100%;
    /* background-color: springgreen; */
    padding: 30px 10px;
    border: .01px solid rgba(199, 199, 199, 0.5);
}
.top-categories .link{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 40px;
    
}
.top-categories .link a{
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.top-categories .link a:hover{
    text-decoration-line: underline;
    text-decoration-color: tomato;
}


.feedback{
    width: 25%;
    height: 100%;
    /* background-color: rgb(25, 139, 139); */
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 30px 0 0 10px;
    border: .01px solid rgb(199, 199, 199,.5);
}

.feedback h1{
    font-size: 3vw;
    letter-spacing: 2px;
}
.feedback .input{
    flex-direction: column;
    margin-top: 50px;
    align-items: flex-start;
    padding: 0 30px;
    gap: 30px;
}
.feedback .input h4:nth-child(2){
    display: flex;
    gap: 10px;
}
.feedback textarea{
    resize: none;
}
input,textarea{
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
}
.feedback .sendbtn{
    width: 100%;
    /* background-color: tomato; */
    padding: 20px 40px 0 0 ;    
    justify-content: flex-end;
}
.feedback #send{
    /* margin-left: 40px; */
    padding: 8px 20px;
    border: .1px solid gray;
    cursor: pointer;
    background-color: #000;
    color: white;
    font-size: 1.2vw;

}

.subscribe{
    width: 100%;
    height: 30%;
    /* background-color: tomato; */
    border-bottom: .1px solid rgb(173, 173, 173);
}
.subscribe .text{
    /* background-color: springgreen; */
    padding: 5px 10px;
    gap: 30px;
}
.subscribe .text h3{
    font-size: 1.3vw;
    font-family: gilroy;
}
input{
    border-radius: 0;
    border: .1px solid black;
}
.subscribe .text .sub input:nth-child(1){
    padding: 15px 20px;

}
.subscribe .text .sub input:nth-child(2){
    background-color: black;
    color: white;
    font-size: 1.2vw;
    padding: 12.5px 20px;
}

#contact .bottom{
    width: 100%;
    height: 15%;
    /* justify-content: flex-end; */
    flex-direction: column;
}
#contact .bottom .text{
    width: 100%;
    overflow: hidden;
    padding: 1vw 0;
    white-space: nowrap;
    position: relative;
    /* background-color: #fff; */
}
#contact .bottom .text h1{
    display: inline-block;
    margin-right: 4vw;
    font-weight: 900;
    font-size: 1.8vw;
    animation: scroll 4s linear infinite;
}
#contact .bottom .text h1 img{
    height: 25px;
    width: 25px;
    object-fit: cover;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 4vw - 4px));
    }
}
